<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="https://static.vecteezy.com/system/resources/previews/001/500/512/non_2x/cloudy-weather-icon-free-vector.jpg">
    </head>
    <body>
        {{>header}}
        <div class="main-contenent">
        <p>{{title}} </p>
        <p>{{name}}</p>
        <p>{{date}}</p>
        </div>
        {{>footer}}
    </body>
</html>