<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="https://static.vecteezy.com/system/resources/previews/001/500/512/non_2x/cloudy-weather-icon-free-vector.jpg">
    </head>
    <body>
        {{>header}}
        <div class="main-contenent">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque orci et diam malesuada 
            fringilla. Quisque scelerisque semper risus, in cursus arcu iaculis eget. Aliquam malesuada aliquet 
            ultricies. Mauris eleifend eu tortor consequat hendrerit. Fusce vehicula, sem et efficitur hendrerit, 
            felis erat hendrerit quam, commodo venenatis risus orci nec risus. Aenean volutpat magna vel tristique 
            dictum. Nulla eget ligula vitae dui luctus aliquam nec eu lorem. Praesent imperdiet, urna vitae 
            convallis blandit, ex libero porta est, sed suscipit urna elit sit amet dui. Maecenas quis purus erat.
            Mauris malesuada neque id est laoreet, fermentum accumsan sapien commodo. Integer id sem bibendum, 
            euismod ipsum sed, pulvinar ligula. Vivamus commodo consectetur dui in viverra. Pellentesque cursus, 
            nisi vitae imperdiet feugiat, massa felis luctus mi, eget sodales diam odio eu nisl. Sed mollis ipsum 
            vitae gravida dictum. Sed eleifend enim eget mauris mattis imperdiet.</p>
        <p>{{name}}</p>
        <p>{{date}}</p>
        </div>
        {{>footer}}
    </body>
</html>