<!DOCTYPE html>
<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="https://static.vecteezy.com/system/resources/previews/001/500/512/non_2x/cloudy-weather-icon-free-vector.jpg">
</head>
<body>
    {{>header}}
    <div class="main-contenent">
        
        <p>{{forecast}} </p>
        <p>{{location}}</p>
    </div>
    {{>footer}}
    </body>
</body>